accelerate
aiohttp
aiosignal
annotated-types
async-timeout
attrs
beautifulsoup4
blis
braceexpand
calflops
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
contourpy
cycler
cymem
datasets
dill
docker-pycreds
filelock
fonttools
frozenlist
fsspec
ftfy
gitdb
GitPython
hpack
huggingface-hub
idna
importlib_metadata
Jinja2
joblib
kiwisolver
langcodes
language_data
lightning-utilities
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
multiprocess
murmurhash
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pandas
peft
pillow
platformdirs
preshed
protobuf
psutil
pyarrow
pyarrow-hotfix
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
rich
safetensors
sentencepiece
sentry-sdk
setproctitle
setuptools
shellingham
six
smart-open
smmap
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
sympy
thinc
tokenizers
torch
torchmetrics
torchvision
tqdm
transformers
triton
typer
typing_extensions
tzdata
urllib3
wandb
wasabi
wcwidth
weasel
webdataset
wheel
wrapt
xformers
xxhash
yarl
zipp
